html,
body {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
}

#map {
  width: 100%;
  height: 320px;
}

.error {
  color: #ff0000;
}

.header {
  padding: 5px;
}

#map_container {
  margin: auto;
  max-width: 877px;
  width: 100%;
}

#map_container .text_input {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

#map_container #map_clear_input {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  visibility: hidden;
}

#map_container #map_clear_input:hover {
  opacity: .6;
}

#map_container #map_clear_input .clear-icon {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: 50% 50% no-repeat;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
  opacity: .16;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIyYzUuNTIzIDAgMTAtNC40NzcgMTAtMTBTMTcuNTIzIDIgMTIgMiAyIDYuNDc3IDIgMTJzNC40NzcgMTAgMTAgMTB6TTcuMjkzIDcuMjkzYTEgMSAwIDAgMSAxLjQxNCAwTDEyIDEwLjU4NmwzLjI5My0zLjI5M2ExIDEgMCAxIDEgMS40MTQgMS40MTRMMTMuNDE0IDEybDMuMjkzIDMuMjkzYTEgMSAwIDEgMS0xLjQxNCAxLjQxNEwxMiAxMy40MTRsLTMuMjkzIDMuMjkzYTEgMSAwIDEgMS0xLjQxNC0xLjQxNEwxMC41ODYgMTIgNy4yOTMgOC43MDdhMSAxIDAgMCAxIDAtMS40MTR6IiBmaWxsPSIjMDAwIi8+PC9zdmc+);
}

#map_container > * {
  margin-bottom: 32px;
}

#map_container .map_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#map_container .map_menu #map_adress {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#map_container .map_menu #map_adress::-webkit-calendar-picker-indicator {
  display: none;
}

#map_container .map_menu #map_coords {
  margin-left: 8px;
}

#map_container input {
  border: none;
}

#map_container .map_adress {
  display: inline-block;
  position: relative;
}

#map_container .map_adress:before,
#map_container .map_adress:after {
  content: '';
  position: absolute;
  pointer-events: none;
}

#map_container .map_adress:after {
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: #C0C0C0;
  -webkit-transition: .3s;
  transition: .3s;
}

#map_container .map_adress:before {
  top: 50%;
  right: 5px;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  z-index: 1;
}

#map_container .map_adress:hover:before {
  border-top-color: #fff;
}

#map_container .map_adress:hover:after {
  background: #000;
}
/*# sourceMappingURL=index.css.map */